.menu {
  list-style: none;
  margin: 0;
  padding: 0;

}



.menu li {
  box-shadow: 2px 8px 30px 4px #888;
  display: inline-block;
  margin: 10px;
}

.menu li a {
  border-radius: 10px;
  color: #000000;
  font-family: sans-serif;
  padding: 10px;
  text-decoration: none;

}

.menu li:nth-child(1) a {
  background-color: #ff7675;
}

.menu li:nth-child(2) a {
  background-color: #2ecc71;
}

.menu li:nth-child(3) a {
  background-color: #81ecec;
}
.menu li:nth-child(4) a {
  background-color:#E1918A ;
}
